<div id="demo" class="bg-light {{ section.background_style }}">
  <div class="container text-center">
    <h2 class="mb-4">A quick demo</h2>

    <div class="container-fluid p-0">
      <iframe width="660" height="415" src="https://www.youtube.com/embed/qHOt11-Md54" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      {% if section.action %}
      <div class="row justify-content-center mt-4">
        <a class="btn btn-xl btn-secondary js-scroll-trigger" href="{{ section.action.url }}">{{
          section.action.label }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>