<section id="download" class="page-section bg-dark text-white">
  <div class="container text-center">
    <h2 class="mb-4">Yes, it's free!</h2>
    <div class="row justify-content-center">
      <div class="col md-auto text-center">
        <div>
          <script type="module" src="https://getbadgecdn.azureedge.net/ms-store-badge.bundled.js"></script>
          <ms-store-badge productid="9P9NDV0J9GLX" window-mode="full" theme="light" animation="on">
          </ms-store-badge>
        </div>
        <div>
          <a href="https://github.com/neonav-co/neonav-co.github.io/releases/download/v1.2.0/NeoWorkspace-1.2.0.Setup.zip"
            class="btn-link text-transform-none nav-link btn-xl js-scroll-trigger">
            Download Now (64-BIT)
          </a>
        </div>

      </div>
    </div>
  </div>
</section>